:root {
    --header: RGB(4, 40, 56);
    --footer: RGB(10, 80, 113);
    --link: RGB(254, 189, 54);
    --background: RGB(235, 235, 235);

    background-color: var(--background);
}

h1 {
    text-align: center;
    color: var(--header);
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-collapse: collapse;
}
.titleheader{
    border: 3px solid black;
}
.rowheader {
    border-right: 3px solid black;
}
td {
    border-right: 3px solid black;
}
td, th {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: var(--footer);
}

a:hover {
    color: var(--link);
}