table{
    border: 3px solid black;
    border-collapse: collapse;
}
.titleheader{
    border: 3px solid black;
}
.rowheader {
    border-right: 3px solid black;
}
td {
    border-right: 3px solid black;
}
td, th {
    padding-left: 20px;
    padding-right: 20px;
}
a:hover {
    color: orange;
}