:root {
  --header: RGB(4, 40, 56);
  --footer: RGB(10, 80, 113);
  --link: RGB(254, 189, 54);
  --background: RGB(235, 235, 235);

  background-color: var(--background);
}

h1 {
  text-align: center;
  color: var(--header);
}

img {
  height: 100px;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: RGB(241, 250, 238);
}

table, th{
  border: 3px solid black;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

p {
  color: black;
  display: block;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#headerrow {
  background-color: RGB(69, 123, 157);
}

th.names {
  background-color: RGB(168, 218, 220);
}

#navhome a:hover {
  color: var(--link);
}

#navhome {
  text-align: center;
  margin-top: 15px;
}

#navhome a {
  color: var(--footer);
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: larger;
}