img {
    height: 100px;
  }
  table, th{
    border: 3px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
  }
  td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  ul {
    white-space: nowrap;
    text-align: left;
  }
  #spiderman_alias {
    padding-left: 15px;
  }
  #spiderman_powers {
    padding-left: 60px;
  }
  #headerrow {
    background-color: goldenrod;
  }
  th.names {
    background-color: lightyellow;
  }