img {
    height: 100px;
  }
  table, th{
    border: 3px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
  }
  td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }
  #headerrow {
    background-color: gainsboro;
  }