:root {
    --header: RGB(4, 40, 56);
    --footer: RGB(10, 80, 113);
    --link: RGB(254, 189, 54);
    --background: RGB(150, 150, 150);

    background-color: var(--background);
}

h1, h2 {
    font-size: 4vw;
    text-align: center; 
    color: var(--header);
}

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
}

h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    color: var(--footer);
}

a {
    color: var(--footer);
}

a:hover {
    color: var(--link);
}

nav {
    border: 7px var(--link) solid;
    text-align: center;
    margin-top: auto;
}

nav a {
    margin-left: 5vw;
    margin-right: 5vw;
    text-decoration: none;
    font-size: larger;
}

section {
    border: 7px var(--footer) solid;
    margin-top: 15px;
}

.date {
    color: var(--link);
}

#javier {
    border: 7px var(--footer) solid;
    margin-top: 15px;
}

ul
{
    list-style: none;
    padding-left: 0px;
}